<!DOCTYPE html>
<html>
<head>
    <title>Cuochi</title>
</head>
<body>
    <h1>Lista dei Cuochi</h1>
    <ul>
        <li th:each="cuoco : ${cuochi}">
            <div>
                <img th:src="@{${cuoco.urlImage}}" width="30%"/>
            </div>
            <a th:href="@{/cuochi/{id}(id=${cuoco.id})}">
                <span th:text="${cuoco.nome} + ' ' + ${cuoco.cognome}"></span>
            </a>
            <span th:text="${cuoco.dataNascita}"></span>
        </li>
    </ul>
</body>
</html>