<!DOCTYPE html>
<head>
    <title>Cuoco Details</title>
</head>
<body>
    <h1>Dettagli del Cuoco</h1>
    
    
    
    <div>
        <h2 th:text="${cuoco.nome} + ' ' + ${cuoco.cognome}"></h2>
        <p th:text="'Data di Nascita: ' + ${cuoco.dataNascita}"></p>
    </div>
    
    <div>
        <h3>Ricette Proposte</h3>
        <div th:if="${#lists.isEmpty(cuoco.ricette)}">
            <p>Non ci sono attualmente ricette per questo cuoco</p>
        </div>
        <ul th:unless="${#lists.isEmpty(cuoco.ricette)}">
            <li th:each="ricetta : ${cuoco.ricette}">
                <span th:text="${ricetta.nome}"></span>
            </li>
        </ul>
    </div>
    <div>
        <a th:href="@{/admin/editCuoco/{id}(id=${cuoco.id})}">ADMIN EDIT CUOCO</a>    
    </div>
    <div>
        <a th:href="@{/admin/deleteCuoco/{id}(id=${cuoco.id})}">ADMIN DELETE CUOCO</a>    
    </div>
    <div>
        <a th:href="@{/admin/addRicetta/{cuoco_id}(cuoco_id=${cuoco.id})}">ADMIN ADD RICETTA</a>    
    </div>

    <div>
        <a th:href="@{/cuoco/addRicetta/{cuoco_id}/{utente_id}(cuoco_id=${cuoco.id},utente_id=${credenziali.utente.id})}">CUOCO ADD RICETTA</a>    
    </div>

    <div>
        <a th:href="@{/cuochi}">torna alla lista dei cuochi</a>    
    </div>
</body>
</html>
