<!DOCTYPE html>
<!-- Source Codes By CodingNepal - www.codingnepalweb.com -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SiwFood HomePage</title>
    <!-- CSS Link -->
    <link rel="stylesheet" href="css/home.css" />
    <!-- Box Icon Link for Icons -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Header & Navbar Section -->
    <header>
      <nav>
        <div class="nav_logo">
          <a href="#">
            <img src="image/food_logo.jpg" alt="SiwFood Logo" />
            <h2>Siw Food</h2>
          </a>
        </div>
        <input type="checkbox" id="click" />
        <label for="click">
          <i class="menu_btn bx bx-menu"></i>
          <i class="close_btn bx bx-x"></i>
        </label>
        <ul>
          <li><a th:href="@{/}">Home</a></li>
          <li><a th:href="@{/cuochi}">Cuochi</a></li>
          <li><a th:href="@{/ricette}">Ricette</a></li>
          <li><a th:href="@{/cerca}">Search</a></li>
        </ul>
      </nav>
    </header>
    <!-- Hero Section -->
    <section class="hero_section">
      <div class="section_container">
        <div class="hero_container">
          <div class="text_section">
            <h2>Siw Food</h2>
            <h3>Share your recipes with others</h3>
            <p>
              Register to create your own chef profile in order to propose your recipes
            </p>
            <!--se non ci sono gli userDetails o login o riegistrati -->
            <div class="hero_section_button" th:unless="${userDetails}">
              <a th:href="@{/login}"><button class="button">Login</button></a>
              <a th:href="@{/register}"><button class="button">Register</button></a>
            </div>
            <!--se ci sono gli userDetails allora logout -->
            <div class="hero_section_button" th:if="${userDetails}">
              <a th:href="@{/logout}"><button class="button">Logout</button></a>
            </div>
          </div>
          <div class="image_section">
            <img src="image/cooking.jpg" alt="cookingmamapic" />
          </div>
        </div>
      </div>
    </section>
    <!-- Gallery Section -->
    <section class="gallery" id="gallery">
      <h2 class="section_title">Gallery</h2>
      <div class="section_container">
        <div class="gallery_container">
          <div class="gallery_items">
            <img src="image/images/gallery_1.jpg" alt="Gallery Image" />
          </div>
          <div class="gallery_items">
            <img src="image/images/gallery_2.jpg" alt="Gallery Image" />
          </div>
          <div class="gallery_items">
            <img src="image/images/gallery_3.jpg" alt="Gallery Image" />
          </div>
          <div class="gallery_items">
            <img src="image/images/gallery_4.jpg" alt="Gallery Image" />
          </div>
          <div class="gallery_items">
            <img src="image/images/gallery_5.jpg" alt="Gallery Image" />
          </div>
          <div class="gallery_items">
            <img src="image/images/gallery_6.jpg" alt="Gallery Image" />
          </div>
        </div>
      </div>
    </section>
    <!-- Footer Section -->
    <footer>
      <div class="section_container">
        <div class="footer_section">
          <div class="footer_logo">
            <a href="index.html">
              <img src="image/food_logo.jpg" alt="Siw Food Logo" />
              <h2>Siw Food</h2>
            </a>
          </div>
          <div class="useful_links">
            <h3>Useful Links</h3>
            <ul>
              <li><a th:href="@{/}">Home</a></li>
              <li><a th:href="@{/cuochi}">Cuochi</a></li>
              <li><a th:href="@{/ricette}">Ricette</a></li>
              <li><a th:href="@{/cerca}">Search</a></li>
            </ul>
          </div>
          <div class="contact_us">
            <h3>Contact</h3>
            <ul>
              <!--
              <li>
                <i class="bx bx-current-location"></i>
                <span>Berndorf, Germany</span>
              </li> -->
              <li>
                <i class="bx bxl-gmail"></i> <span>andrealippo01@gmail.com</span>
              </li>
              <li>
                <i class="bx bxl-gmail"></i> <span>and.lippucci@stud.uniroma3.it</span>
              </li>
              <!--
              <li>
                <i class="bx bxs-time-five"></i>
                <span>Mon-Sun : 10:00 AM - 7:00 PM</span>
              </li> -->
            </ul>
          </div>
          <div class="follow_us">
            <h3>Follow</h3>
            <i class="bx bxl-facebook-circle"></i>
            <i class="bx bxl-twitter"></i>
            <i class="bx bxl-instagram-alt"></i>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>