<!DOCTYPE html>
<html>
<head>
    <title>Ricette</title>
</head>
<body>
    <h1>Lista delle Ricette</h1>
    <ul>
        <li th:each="ricetta : ${ricette}">
            <div>
                <p>qui ci va la foto</p>
            </div>
            <a th:href="@{/ricette/{id}(id=${ricetta.id})}">
                <span th:text="${ricetta.nome}"></span>
            </a>
        </li>
    </ul>
    <a href="/ricette/search">Vai alla pagina di ricerca delle ricette</a>
    <a href="/ricette/new">Vai alla pagina per l'aggiunta di una ricetta</a>
</body>
</html>