<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <div>


        <form th:action="@{/register}" method="post">
            <div>
                <label for="username">Username</label>
                <input type="text" th:field="${credentials.username}">
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" th:field="${credentials.password}">
            </div>
            <div>
                <label for="nome">Nome</label>
                <input type="text" th:field="${utente.nome}">
            </div>
            <div>
                <label for="cognome">Cognome</label>
                <input type="text" th:field="${utente.cognome}">
            </div>
            <div>
                <button type="submit">Register</button>
            </div>
        </form>


    </div>

</body>

</html>