<!DOCTYPE html>

<head>
    <title>MODIFICA RICETTA</title>
</head>

<body>
    <!-- qui mostro i dati relativi alla ricetta -->
    <div th:if="${ricetta.hasImmagini() == true}">
        <span th:each=" immagine : ${ricetta.immagini}">
            <img th:src="'data:image/jpeg;base64,' + ${immagine.getBase64()}" width="30%"/>
        </span>
    </div>

    <div>
        <h2 th:text="${ricetta.nome}">Nome della Ricetta</h2>
        <p th:text="${ricetta.descrizione}">Descrizione della Ricetta</p>
    </div>

    <!--
    <div>
        <p th:text="${ricetta.cuoco.nome}">nome cuoco</p>
    </div> -->
    
    <div>
        <h3>Ingredienti</h3>
        <div th:if="${#lists.isEmpty(ricetta.ingredienti)}">
            <p>attualmente senza ingredienti</p>
        </div>
        <ul>
            <li th:each="ingrediente : ${ricetta.ingredienti}">
                <form th:action="@{/admin/deleteIngrediente/{ricetta_id}/{ingrediente_id}(ricetta_id=${ricetta.id},ingrediente_id=${ingrediente.id})}" method="post">
                    <div>
                        <span th:text="${ingrediente.nome}">Nome Ingrediente</span> 
                        <span th:text="${ingrediente.quantita}">Quantità Ingrediente</span>
                        <button type="submit">Elimina</button>
                    </div>
                </form>
            </li>
        </ul>
    </div>

    <!-- qui metto il form che fa la conferma quindi fine  -->
    <form th:action="@{/admin/editRicetta/{ricetta_id}(ricetta_id=${ricetta.id})}" enctype="multipart/form-data" method="post" th:object="${ricetta}">
            
        <div>
            <label for="nome">Nome:</label>
            <input type="text" id="nome" th:field="*{nome}" >
        </div>
    
    <div>
        <label for="descrizione">Descrizione:</label>
        <input type="text" id="descrizione" th:field="*{descrizione}" >
    </div>
    
    <div>
        <label for="immagine">Immagine:</label>
        <input type="file" id="immagine" name="immagine" accept="image/*">
    </div>

    <div>
        <button type="submit">Save</button>
    </div>

    </form>


<!-- qui metto il form che fa l'aggiunta di un ingrediente mi riporta a questa pagina  -->
    <form th:action="@{/admin/addIngrediente/{ricetta_id}(ricetta_id=${ricetta.id})}" th:object="${ingrediente}" method="post">

        <div>
            <label for="nome">Nome Ingrediente:</label>
            <input type="text" id="nome" th:field="*{nome}" placeholder="Nome Ingrediente">
        </div>
        <div>
            <label for="quantita">Quantità Ingrediente:</label>
            <input type="text" id="quantita" th:field="*{quantita}" placeholder="Quantità Ingrediente">
        </div>

        <div>
            <button type="submit">AGGIUNGI INGREDIENTE</button>
        </div>
    </form>

</body>



</html>