<!DOCTYPE html>

<head>
    <title>Cerca Ricette</title>
</head>

<body>
    <h1>Ricerca Ricetta in base al nome</h1>
    <form th:action="@{/ricette/byNome}" method="post">
        <div>
            <label>Nome Ricetta:</label>
            <input type="text" name="nome" />
        </div>
        <div>
            <button type="submit">Cerca per Nome</button>
        </div>
    </form>

    <h1>Ricerca Ricetta in base al nome di un ingrediente</h1>
    <form th:action="@{/ricette/byIngrediente}" method="post">
        <div>
            <label>Nome Ingrediente:</label>
            <input type="text" name="nomeIngrediente" />
        </div>
        <div>
            <button type="submit">Cerca per Ingrediente</button>
        </div>
    </form>

    <a th:href="@{/ricette}">Torna alla lista delle ricette</a>

</body>
</html>
